block index
    doctype html
    html(lang="es")
        head
            title= title? title : "VVAVE Stream"
            meta(name="X-UA-Compatible" content="IE=edge")
            link(href="css/bootstrap.min.css" rel="stylesheet")       
            link(href="/css/style.css" rel="stylesheet")     
            link(href="https://fonts.googleapis.com/css?family=Poppins:900" rel="stylesheet")
            link(href="https://fonts.googleapis.com/css?family=Arimo:700|Noto+Sans|Titillium+Web" rel="stylesheet")
        
        if(color) 
            - var col = color
        else
            - var col = "#333"
        
        body(style="background-color:"+col+";")
        
            div.menu
                div.item
                    a.menuItem(href="#")= "VVAVE"
                div.item
                    a.menuItem(href="/api")= "API"
                div.item
                    a.menuItem(href="#")= "Wiki"
                div.item
                    a.menuItem(href="#")= "Dev"
                div.item
                    a.menuItem(href="#")= "Signup"
                
                
            div.fullscreen-bg
                video.fullscreen-bg__video( autoplay muted loop source src="assets/babevid-slow.webm" type="video/mp4")
            div.content
            
                div.title
                    img(src="assets/vvave6.png")
            
            div.footer
                div.credits
                    p= "Powered by the KDE Community"
            
            div.grid        
                div#AA
                    div.cc
                        block contentAA
                div#AB
                    div.cc
                        block contentAB
                
                div#BA
                    div.cc
                        block contentBA
                div#BB
                    div.cc
                        block contentBB
                
                div#CA
                    div.cc
                        block contentCA
                div#CB
                    div.cc
                        block contentCB
            
            
