@import url(https://fonts.googleapis.com/css?family=Arimo:700);


*
{
    font-family:helvetica;
}

html
{
    padding: 0;
    margin: 0;   
    width: 100%;
    height: 100%;  
    font-size: 100%; 
}
body
{   
    font-size: 0.75em;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;  
    background: #000;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}

.fullscreen-bg 
{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video 
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
   /* -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);*/
}

@media (max-width: 480px) 
{
    html { font-size: 120%; }
}

.footer
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

.footer .credits p
{
    color: #ededed;
    font-size: 0.85em;  
    text-align: center;
    
}
.content
{
    margin: auto;
    width: 100%;
    height: 90%;    
}


.illustration
{
    
    height: 60%;
    width: 100%;
    margin: auto;
    display: inline-flex;
    align-self: center;  
    justify-content: center;
}

.title
{    
    height: 100%;
    width: 100%;
    margin: auto;
    display: inline-flex;
    align-self: center;  
    justify-content: center;
}

.subtitle
{
    height: 50%;
    width: 100%;
    margin: auto;
    display: flex;  

}

.illustration img
{
    align-self: center;  
    max-height: 500px;
    min-height: 64px;
    width: auto;
    height: 100%;    
    
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;  
}
.title img
{
    align-self: center;  
    max-height: 120px;
    min-height: 64px;
    width: auto;
    height: 30%;    
    
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated; 
    
    animation: shake 0.3s;
    /* When the animation is finished, start again */
    animation-iteration-count: 10;
}

@keyframes shake
{
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(2deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-3deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(5deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.title h1
{
    font-family: 'Arimo';
    align-self: center;  
    color: white;
    font-size: 48px;  
    padding: 15px;
    text-align: center;
    background-color: #f84172;
}

.subtitle .items
{
    padding: 10px 10px 10px 100px;
    margin: 0;
    width: 100%;
    display: block;
    vertical-align: center;
    align-self: center; 
    align-items: center;
    justify-content: center;

    
}
.subtitle .items h2
{
    background-color: white;
    font-family: 'Arimo';
    color: black;
    font-size: 24px;  
    padding: 10px;
    margin:0;
    text-align: right;
}

.menu
{
    width: 100%;
    height: 48px;
    display: inline-flex;  
}

.item
{ 
    display: inline;
    align-self: center;    
}

.menuItem
{
    font-family: 'Arimo';
    color: white;
    font-size: 1.2em;  
    font-weight: bold;
    padding: 10px;
    text-align: right
}

.grid
{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}


#cc
{
    width: 100%;
    height:100%;
    display: flex;
    flex-flow: column;
    justify-content: center; /* align horizontal */
    align-items: center;    

}
